div.estimator-body-white
{
	padding: 1px 0px;
	background-color: #FFFFFF;
}
div.estimator-body-ltblue
{
	padding: 1px 0px;
	background-color: #A0D0FF;
}
table.general
{
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	width: 100%;
	margin: 0px;
	background-color: #FFFFFF;
}
tr.general-header
{
	font: bold;
	background-color: #909090;
}
tr.general-sub-header
{
	font: bold;
	background-color: #C0C0C0;
}
table.glassCalc
{
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	width: 100%;
	margin: 0px;
	background-color: #FFFFFF;
}
td.glassCalcHeader
{
	border-width: 1px;
	border-style: inset;
	padding: 1px;
	background-color: #909090;
	text-align: center;
}
td.glassCalcSubHeader
{
	border-width: 1px;
	border-style: inset;
	padding: 1px;
	background-color: #C0C0C0;
	text-align: center;
}
td.glassCalcWhite
{
	border-width: 1px;
	border-style: inset;
	padding: 1px;
	background-color: #FFFFFF;
	text-align: left;
}
td.glassCalcLtBlue
{
	border-width: 1px;
	border-style: inset;
	padding: 1px;
	background-color: #EEEEFF;
	text-align: left;
}
table.screenEst
{
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	width: 100%;
	margin: 0px;
	background-color: #FF9999;
}
td.screenEstHeader
{
	border-width: 0px;
	border-style: inset;
	padding: 0px;
	background-color: #909090;
	text-align: center;
}
td.screenEstSubHeader
{
	border-width: 0px;
	border-style: inset;
	padding: 0px;
	background-color: #C0C0C0;
	text-align: center;
}
td.screenEstWhite
{
	border-width: 0px;
	border-style: inset;
	padding: 0px;
	background-color: #FFFFFF;
	text-align: left;
}
td.screenEstLtBlue
{
	border-width: 0px;
	border-style: inset;
	padding: 0px;
	background-color: #EEEEFF;
	text-align: left;
}
div.screenMenu
{
	cursor: pointer;
	text-align: center;
	font-size: 110%;
	background-color: #909090;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
}
div.screenMenuCurrent
{
	cursor: pointer;
	text-align: center;
	font-size: 110%;
	background-color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#909090));
}